.fondoServicios {
    position: relative;
    background-size: cover;
    height: 90vh;
}

.fondoServicios::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/img/servicios.webp');
    background-size: cover;
    opacity: 0.8; /* Ajusta el valor según tus preferencias, va de 0 a 1 */
    z-index: -1;
}

.h2Servicios {
    color: #007bff; /* Color del texto */
    font-size: 2.5em; /* Tamaño de la fuente */
    font-weight: bold; /* Peso de la fuente */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra del texto */
    margin-bottom: 10px; /* Espacio inferior */
    margin: 20px;
    text-align: center;
}

.h3ServicioTitulo{
    color: #555;
    font-size: 1.4em;
    margin: 20px;
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: rgba(255, 255, 255, 0.9); /* Agrega un fondo blanco con opacidad */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin: 20px;
    padding: 20px;
    text-align: left;
    margin-bottom: 5px;
    flex: 0 0 calc(20% - 40px); /* Calcula el ancho para que haya tres en una fila */
}

.card h3 {
    color: #007bff;
}

.card p {
    color: #555;
    line-height: 1.5;
}
